/* styles */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  width: 60%;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

ul#book-list li:nth-child(odd) {
  background-color: rgb(190, 190, 190);
}

.book-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.book-form input {
  margin: 5px 0;
}

.book-list {
  padding-left: 0;
}

.nav-item {
  color: black;
}

.contact-ul {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myFooter {
  position: absolute;
  bottom: 0;
}
