/* styles */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.book-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.book-form input {
  margin: 5px 0;
}

.book-list {
  padding-left: 0;
}
