/* styles */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  width: 60%;
}

li {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

ul#book-list li:nth-child(odd) {
  background-color: rgb(190, 190, 190);
}

.book-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.book-form input {
  margin: 5px 0;
}

.book-list {
  padding-left: 0;
}
